{% extends "base.html" %}
{% block content %}
<div class="container">
<h1 class="doc-title">Shopping cart</h1>



<!-- ============================ COMPONENT CART ================================= -->
	<output id="code_shopping_cart_1">

<div class="row">
	<aside class="col-lg-9">
<div class="card">

<div class="table-responsive">

<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Product</th>
  <th scope="col" width="120">Quantity</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" class="text-right d-none d-md-block" width="200"> </th>
</tr>
</thead>
<tbody>
{%for item in usercart.keys()%}
{%for i in productincart%}
{%if i.get_product_id() == item%}
<tr>
	<td>
		<figure class="itemside align-items-center">
			<div class="aside"><img src="bootstrap-ecommerce-html/images/items/1.jpg" class="img-sm"></div>
			<figcaption class="info">
				<a href="#" class="title text-dark">{{i.get_product_name()}}</a>
			</figcaption>
		</figure>
	</td>
	<td>
		<select class="form-control">
			<option>{{usercart[item]}}</option>
			<!-- <option>2</option>
			<option>3</option>
			<option>4</option> -->
		</select>
	</td>
	<td>
		<div class="price-wrap">
			<var class="price">{{i.get_discounted_price()}}</var>
			<!-- <small class="text-muted"> $315.20 </small> -->
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right d-none d-md-block">
	<a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
	<form action="{{url_for('deletecart',cartproductid = item)}}" method="POST">
		<input type="submit" value="Remove" class="btn btn-warning">
	</form>
	</td>
</tr>
{%endif%}
{%endfor%}
{%endfor%}
</tbody>
</table>

</div> <!-- table-responsive.// -->

<div class="card-body border-top">
	<p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
</div> <!-- card-body.// -->

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-3">

<div class="card mb-3">
<div class="card-body">
<form>
	<div class="form-group">
		<label>Have coupon?</label>
		<div class="input-group">
			<input type="text" class="form-control" name="" placeholder="Coupon code">
			<span class="input-group-append">
				<button class="btn btn-primary">Apply</button>
			</span>
		</div>
	</div>
</form>
</div> <!-- card-body.// -->
</div> <!-- card.// -->

<div class="card">
<div class="card-body">
		<dl class="dlist-align">
		  <dt>Total price:</dt>
		  <dd class="text-right">$69.97</dd>
		</dl>
		<dl class="dlist-align">
		  <dt>Discount:</dt>
		  <dd class="text-right text-danger">- $10.00</dd>
		</dl>
		<dl class="dlist-align">
		  <dt>Total:</dt>
		  <dd class="text-right text-dark b"><strong>$59.97</strong></dd>
		</dl>
		<hr>
		<p class="text-center mb-3">
			<img src="bootstrap-ecommerce-html/images/misc/payments.png" height="26">
		</p>
		<a href="#" class="btn btn-primary btn-block"> Make Purchase </a>
		<a href="#" class="btn btn-light btn-block">Continue Shopping</a>
</div> <!-- card-body.// -->
</div> <!-- card.// -->
	</aside> <!-- col.// -->
</div> <!-- row.// -->
	</output>
	<a href="#" class="showcode" data-html="code_shopping_cart_1">show code</a>
<!-- ============================ COMPONENT CART END .// ================================= -->


</aside></div> <!-- container.// -->
</div>
{% endblock %}
