{% extends "base.html" %}
{% block content %}
<br><br><br><br>
<div class="container">
<h1 class="doc-title">Shopping cart</h1>



<!-- ============================ COMPONENT CART ================================= -->
	<output id="code_shopping_cart_1">

<div class="row">
	<aside class="col-lg-9">
<div class="card">

<div class="table-responsive">

<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Product</th>
  <th scope="col" width="120">Quantity</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" class="text-right d-none d-md-block" width="200"> </th>
</tr>
</thead>
<tbody>
{%for item in usercart.keys()%}
{%for i in productincart%}
{%if i.get_product_id() == item%}
<tr>
	<td>
		<figure class="itemside align-items-center">
			<div class="aside"><img src="../static/product_images/{{i.get_product_images()[0]}}" class="img-sm"></div>
			<figcaption class="info">
				<a href="#" class="title text-dark">{{i.get_product_name()}}</a>
			</figcaption>
		</figure>
	</td>
	<td>
		<select class="form-control">
			<option>{{usercart[item]}}</option>
		</select>
	</td>
	<td>
		<div class="price-wrap">
			<var class="price">{{i.get_product_price()}}</var>
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right d-none d-md-block">
	<a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
		<form action="{{url_for('deletecart',cartproductid = item)}}" method="POST">
		<input type="submit" value="Remove" class="btn btn-warning">
		</form>
		<form action="{{url_for('Updatecart',cartproductid = item)}}" method="POST">
		<input type="submit" value="Update" class="btn btn-outline-success">
		</form>
	</td>
</tr>
{%endif%}
{%endfor%}
{%endfor%}
</tbody>
</table>

</div> <!-- table-responsive.// -->

<div class="card-body border-top">
	<p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
</div> <!-- card-body.// -->

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-3">


<div class="card">
<div class="card-body">

		<dl class="dlist-align">
		  <dt>Total price:</dt>
		  <dd class="text-right">{{total_price}}</dd>
		</dl>
		<dl class="dlist-align">
		  <dt>Discount:</dt>
		  <dd class="text-right text-danger">{{total_discount}}</dd>
		</dl>
		<dl class="dlist-align">
		  <dt>Total:</dt>
		  <dd class="text-right text-dark b"><strong></strong>{{Grand_total}}</dd>
		</dl>
		<a href="/Deliverydetails" class="btn btn-primary btn-block"> Make Purchase
		</a>

		<a href="/" class="btn btn-light btn-block">Continue Shopping</a>
</div> <!-- card-body.// -->
</div> <!-- card.// -->
	</aside> <!-- col.// -->
</div> <!-- row.// -->
{% endblock %}
