<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/bootstrap/css/ui.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="../static/bootstrap/css/modiy_bootstrap.css">
  <link rel="stylesheet" href="../static/bootstrap/css/responsive.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


{% block navbar %}
{% include 'components/_navbar.html' %}
{% endblock  %}


  {% block content %}




  {% endblock  %}

{% block footer %}
{% include 'components/_footer.html' %}
{% endblock  %}
</body>



{% block script %}
<script src="../static/bootstrap/jquery/jquery.min.js"></script>
<script src="../static/bootstrap/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/bootstrap-select-1.13.9/bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
{% endblock  %}
</html>
