<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="../static/bootstrap/css/modiy_bootstrap.css">
  <link rel="stylesheet" href="../static/bootstrap/css/ui.css">
  <link rel="stylesheet" href="../static/bootstrap/css/responsive.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


{% block navbar %}
{% include 'components/_navbar.html' %}
{% endblock  %}


  {% block content %}




  {% endblock  %}

{% block footer %}
{% include 'components/_footer.html' %}
{% endblock  %}
</body>



{% block script %}
<script src="../static/bootstrap/jquery/jquery.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="../static/bootstrap/js/script.js"></script>
<script src="../static/bootstrap-select-1.13.9/bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
<script>
  $(document).on('click', '.number-spinner button', function () {    
      var btn = $(this),
          oldValue = btn.closest('.number-spinner').find('input').val().trim(),
          newVal = 0;
      
      if (btn.attr('data-dir') == 'up') {
          newVal = parseInt(oldValue) + 1;
      } else {
          if (oldValue > 1) {
              newVal = parseInt(oldValue) - 1;
          } else {
              newVal = 1;
          }
      }
      btn.closest('.number-spinner').find('input').val(newVal);
  });
</script>

<script>
$(document).ready(function() {

  var table = $('#usertable').DataTable({
      orderCellsTop: true,
              dom: 'Bfrtip',
        initComplete: function () {
            this.api().columns([5]).every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $("#usertable thead tr:eq(1) th").eq(column.index()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' );
                } );
            } );
        }
    } );
    });




</script>
{% endblock  %}
</html>
