<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8" >
  <meta http-equiv="refresh" content="300" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/bootstrap/css/modiy_bootstrap.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/bootstrap/css/ui.css">
  <link rel="stylesheet" href="../static/bootstrap/css/responsive.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

{% block navbar %}
{% include 'components/_navbar.html' %}
{% endblock  %}


  {% block content %}
 {% if session['forced_logout'] == True %}
<script>window.onload = function alert_logout() {
    alert("Your session has expired");
    window.location = '/logout'
}
</script>
  {% endif %}


  {% endblock  %}

{% block footer %}
{% include 'components/_footer.html' %}
{% endblock  %}
</body>



<script src="../static/bootstrap/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/bootstrap/js/script.js"></script>
<script src="../static/bootstrap-select-1.13.9/bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
<script>
$(document).ready(function() {
    var table = $('#usertable').DataTable({
     columnDefs: [
        { "orderable": false, "targets": [0, 1,2,3,4,5,7,8] },
        { "orderable": true, "targets": [6] }
    ]});
    $('select[name="filter"]').change(function() {
        if (!$(this).val()) {
            table.columns().search("").draw();
        } else {
            table.columns().search("");
            var option = $(this).find(":selected");
            var columns = Object.keys(option.data());
            console.log(columns)
            $.each(columns, function(k, v){
                table.columns(parseInt(v, 10)).search(option.data(v));
            });
            table.draw();
        }
    });
});
</script>

{% block script %}

{% endblock  %}
</html>
