{% extends 'dashboard_base.html' %}
{% block content %}
<style>
    .title{
        font-weight:bold;!important

    }

    .header{
        font-weight:bold;
        padding: 20px 0px 0px 0px;
    }
    .orderdetails img{
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 200px;
        float: right;
        left: 700px;
        position: absolute;
        bottom:10px;
        top:6px;

  }

    .orderdetails{

        position:relative;
    }
</style>
<div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Delivery Status</h6>
            <div class="orderdetails">
                <h2>Order Details</h2>
                <div>
                    <div>
                    <h6><span class="title">Tracking ID:</span> <span id="copystuff">{{ individual_order.get_individual_orderid() }}</span></h6>
                    <h6><span class="title">Product:</span> {{ individual_order.get_product_name() }}</h6>
                    <h6><span class="title">Quantity:</span> {{ individual_order.get_quantity() }}</h6>
                    <h6><span class="title">Seller name:</span> {{ individual_order.get_seller_name() }}</h6>
                    <h6><span class="title">Order Date:</span> {{ individual_order.get_order_date() }}</h6>
                    <h6><span class="title">Address:</span> {{ individual_order.get_address() }}</h6>
                    <h6><span class="title">Seller Status:</span> {{ individual_order.get_deliverystat() }}</h6>
                        <a href="/SellerDelivery" class="btn btn-primary">Delivery Status</a> <a href="" onclick="copytoclipboard('#copystuff')" class="btn btn-secondary">Copy ID</a>
                        <div class="productimage">
                                <img src="../static/product_images/{{individual_order.get_product_image()}}" class="productimage">
                         </div>

                    </div>
                </div>

    </div>
</div>


{% endblock  %}
{% block script %}
    <script>
function copytoclipboard(element){
    var $temp=$("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
}
</script>
{% endblock %}



