{% extends 'dashboard_base.html' %}
{% block content %}
<div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Delivery Status</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th>Tracking ID</th>
                  <th>Product</th>
                  <th>Seller Username</th>
                  <th>Order Date</th>
                    <th>Delivery Status</th>
                    <th>Edit</th>
                    <th>More Information</th>
                </tr>
              </thead>
              <tbody>
                {% for delivery_item in deliverylist %}
                <tr>
                  <td>{{ delivery_item.get_individual_orderid() }}</td>
                  <td>{{ delivery_item.get_product_name() }}</td>
                  <td>{{ delivery_item.get_seller_name() }}</td>
                  <td>{{ delivery_item.get_order_date() }}</td>
                    <td>{{ delivery_item.get_deliverystat() }}</td>
                  {% if delivery_item.get_deliverystat() == "Order Received (Acknowleged)" or delivery_item.get_deliverystat() == "Cancelled"%}
                    <td><a href="/DeletingDelivery/{{ delivery_item.get_individual_orderid() }}/{{ delivery_item.get_buyer_id() }}" class="btn btn-danger">Delete</a></td>
                  {% else %}
                  <td><a href="/DeliveryReceived/{{ delivery_item.get_individual_orderid() }}/{{ delivery_item.get_product_id() }}" class="btn btn-success">Received</a></td>
                  {% endif %}

                    <td><a href="/BuyerDeliveryDetails/{{ delivery_item.get_individual_orderid() }}" class="btn btn-warning">Details</a></td>
                </tr>
                {% endfor %}
              </tbody>
              </table>
            </div>
    </div>
</div>


{% endblock  %}

{% block script %}
<script>
  $(document).ready(function() {
      $('#dataTable').DataTable();
    });

function copytoclipboard(element){
    var $temp=$("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
}


</script>
{% endblock  %}
