{% extends 'dashboard_base.html' %}
{% block content %}
<style>
  .fancypantsy{
   width:60px;
   height:60px;
   }
</style>
<div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Delivery History</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th>Tracking ID</th>
                  <th>Product</th>
                  <th>Product Name</th>
                  <th>Seller Username</th>
                  <th>Order Date</th>
                    <th>Date Delivery Received</th>
                    <th>To Review</th>
                </tr>
              </thead>
              <tbody>
                {% for delivery_item in history %}
                <tr>
                  <td>{{ delivery_item.get_individual_orderid() }}</td>
                  <td><img src="../static/product_images/{{delivery_item.get_product_image()}}" width="60" height="60" alt="..."></td>
                  <td>{{ delivery_item.get_product_name() }}</td>
                  <td>{{ delivery_item.get_seller_name() }}</td>
                  <td>{{ delivery_item.get_order_date() }}</td>
                  <td>{{ delivery_item.get_delivery_received_date() }}</td>
                  {% if delivery_item.get_review_status() == 'No' %}
                  <td> <a class="btn btn-success" href="/review/{{delivery_item.get_product_id()}}/{{delivery_item.get_individual_orderid()}}">pending review</a></td>
                  {% else %}
                  <td> <a class="btn btn-success disabled" href="/review/{{delivery_item.get_product_id()}}/{{delivery_item.get_individual_orderid()}}">Item reviewed</a></td>
                  {% endif %}
                </tr>
              {% endfor %}
              </tbody>
              </table>
            <a href="/SellerDelivery" class="btn btn-sm btn-outline-primary">Delivery Status</a>
            </div>
    </div>
</div>


{% endblock  %}

{% block script %}
<script>
  $(document).ready(function() {
      $('#dataTable').DataTable();
    });

function copytoclipboard(element){
    var $temp=$("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
}


</script>
{% endblock  %}
