{% extends "base.html" %}
{% block content %}
<div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Delivery Tracking</h6>
        </div>
<div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <h3>Tracking ID: # {{ orderid }}</h3>
              <thead>
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Delivery Status</th>
                    <th>Notes</th>

                </tr>
              </thead>
              <tbody>
                <!-----{% for status in statuslist %}--->
                <tr>
                    <td>{{ status.get_status_date() }}</td>
                    <td>{{ status.get_location() }}</td>
                    <td>{{ status.get_status() }} </td>
                    <td>{{ status.get_delivery_notes() }}</td>

                </tr>
                <!----{% endfor %}--->
              </tbody>
              </table>
            </div>
    <a href="/CarrierBuyer" class="btn btn-success">Back</a>
    </div>
{% endblock %}
