{% extends "base.html" %}
{% block title %}FAQ- Create a Question {% endblock %}
{% block content %}
{% from "components/_formHelper.html" import render_field %}
<br>
<br>
<br>
<br>
<br>


<div class="container">
<h1 class="display-4"><strong>Create Question</strong></h1>
<form method="POST" action="">
    <div class="form-group">
        {{render_field(form.mtitle, class="form-control", placeholder="Question here")}}
    </div>
    <div class="form-group">
        {{render_field(form.mbody, class="form-control",placeholder="Description here")}}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div>
{% endblock %}
