<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delivery Details</title>
</head>
<body>
<!--<div style="position: absolute;-->
<!--width: 990.44px;-->
<!--height: 500px;-->
<!--left: 134px;-->
<!--top: 79px;;border:1px solid #FFFFFF;">--> The Popup box,before this there should be a transition process phase but i have not included it yet
<h1>Delivery Details</h1>
<!--<hr style="margin-top:-10px;">--> Draw the horizontal Line
<form style="color: #8C8C8C; ">
<!--Address<br>-->
<!--<input type="text" name="address" style="border: 1px solid #8C8C8C;-->
<!--box-sizing: border-box;-->
<!--border-radius: 5px; width: 543.05px;-->
<!--height: 40px;"><br><br>--> Fill in the address then there is two break so that there will some spacing in between the forms
<!--Country<br>-->
<!--<select style="border: 1px solid #8C8C8C;--> specify the border box css
<!--box-sizing: border-box;--> make the border box
<!--border-radius: 5px; width: 543.05px;-->
<!--height: 40px;">-->
<!--    <option value="Singapore">Singapore</option>-->
<!--    <option value="Malaysia">Malaysia</option>-->
<!--    <option value="Japan">Japan</option>-->
<!--    <option value="South Korea">South Korea</option>-->
<!--    <option value="Taiwan">Taiwan</option>-->
<!--    <option value="China">China</option>-->
<!--    <option value="Switzerland">Switzerland</option>-->
<!--    <option value="Cambodia">Cambodia</option>-->
<!--</select><br><br>--> Options for user to choose the country they are in but the problem is I have not included not of the countries yet. I only put in a few countries
<!--city<br>-->
<!-- <input type="text" name="city" style="border: 1px solid #8C8C8C;-->
<!--box-sizing: border-box;-->
<!--border-radius: 5px; width: 543.05px;-->
<!--height: 40px;"><br><br>-->
State<br>
<input type="text" name="state" style="border: 1px solid #8C8C8C;
box-sizing: border-box;
border-radius: 5px; width: 208px;
height: 40px;"><br><br>
<!--Zip<br>-->
<!--<input type="text" name="state" style="border: 1px solid #8C8C8C;-->
<!--box-sizing: border-box;-->
<!--border-radius: 5px; width: 208px;-->
<!--height: 40px;">--> The Zip and the state suppose to be side by side but I could not do that
</form>
<!--<div style="width:150px;height:30px;border:1px solid;background:#F59F69;box-shadow: 0px 3.47117px 3.47117px rgba(0, 0, 0, 0.25);
border-radius: 5px; color:white; float:right;margin-top:60px;">Proceed to Payment</div>--> Proceed to payment
</div>
</body>
</html>
