{% extends 'dashboard_base.html' %}
{% block content %}
<div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Frequently Asked Questions</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="FAQLogsTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Admin's ID</th>
                  <th>Comment ID</th>
                  <th>Adjustment</th>
                  <th>Date</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                {% if log|length >0 %}
                  {% for log_item in log %}    
                  <tr>
                    <td>{{log_item.get_admin_id()}}</td>
                    <td>{{log_item.get_faq_id()}}</td>
                    <td>{{log_item.get_faq_activity()}}</td>
                    <td>{{log_item.get_timestamp_as_datetime().strftime("%m/%d/%Y")}}</td>
                    <td>{{log_item.get_timestamp_as_datetime().strftime("%H:%M:%S")}}</td>
                  </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td>No Entry</td>
                    <td>No Entry</td>
                    <td>No Entry</td>
                    <td>No Entry</td>
                    <td>No Entry</td>
                  </tr>
                {% endif %}
              </tbody>
              </table>
            </div>
    </div>
</div>
{% endblock  %}
{% block script %}
<script>
  $(document).ready(function() {
      $('#FAQLogsTable').DataTable();
    });

</script>
{% endblock  %}
