{% extends "base.html" %}
{% block content %}
<br>
<link rel="stylesheet" type="text/css" href="../static/css/faq.css">
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" >
                    <a href="#tab1" class="nav-link active" data-toggle="pill" role="tab" aria-controls="FAQ" aria-selected="true">
                        Frequently Asked Questions 
                    </a>
                    <a href="#tab2" class="nav-link" data-toggle="pill" role="tab" aria-controls="Account_Issues" aria-selected="false">
                        Account Issues
                    </a>
                    <a href="#tab3" class="nav-link" data-toggle="pill" role="tab" aria-controls="Contact" aria-selected="false">
                        Contact Us
                    </a>
                    <a href="#tab4" class="nav-link disabled" data-toggle="pill" role="tab" aria-controls="StaffChat" aria-selected="false">
                        Chat with Us
                    </a>
                    <a href="#tab5" class="nav-link" data-toggle="pill" role="tab" aria-controls="Forum" aria-selected="false">
                        Forum
                    </a>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="tab-content" id="faq-tab-content">
            <!--frequently asked questions-->
            <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="FAQ">
                <div class="accordion" id="tabno1">
                {% for f in FaQ %}
                    <div class="card">
                        <div class="card-header" id="tabno1-heading-{{f.getid()}}">
                            <h5>
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#tabno1-content-{{f.getid()}}" aria-expanded="false" aria-controls="tabno1-content-{{f.getid()}}">{{ f.getquestion()}}</button>
                            </h5>
                            {% if role=="A"%}
                            <div>
                                <a type="button" href="/updateFAQueryF/{{f.getid()}}"> Edit </a>
                            </div>
                            <div>
                                <a type="button" href="/deleteQns/{{f.getid()}}">delete </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="collapse" id="tabno1-content-{{f.getid()}}" aria-labelledby="tabno1-heading-{{f.getid()}}" data-parent="#tabno1">
                            <div class="card-body">
                                <p>{{f.getanswer()}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                {% if role=="A"%}
                <div>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/addFAQueryFaQ'">Add</button>
                </div>
                {% endif %}
            </div>
            <!--Account Issues-->
            <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="FAQ">
                <div class="accordion" id="tabno2">
                {% for a in AcI %}
                    <div class="card">
                        <div class="card-header" id="tabno2-heading-{{a.getid()}}">
                            <h5>
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#tabno2-content-{{a.getid()}}" aria-expanded="false" aria-controls="tabno2-content-{{a.getid()}}">{{ a.getquestion()}}</button>
                            </h5>
                            {% if role=="A"%}
                            <div>
                                <a type="button" href="/updateFAQueryA/{{a.getid()}}"> Edit </a>
                            </div>
                            <div>
                                <a type="button" href="/deleteQns/{{a.getid()}}">delete </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="collapse" id="tabno2-content-{{a.getid()}}" aria-labelledby="tabno2-heading-{{a.getid()}}" data-parent="#tabno2">
                            <div class="card-body">
                                <p>{{a.getanswer()}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                {% if role=="A"%}
                <div>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/addFAQueryAcI'">Add</button>
                </div>
                {% endif %}
            </div>
            <!--contact us-->
            <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="contact">
                <div class="accordion" id="tabno3">
                    {% for c in CoI %}
                        <div class="card">
                            <div class="card-header" id="tabno3-heading-{{ c.getid() }}">
                                <h5>
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#tabno3-content-{{c.getid()}}" aria-expanded="false" aria-controls="tabno3-content-{{c.getid()}}">{{ c.getquestion()}}</button>
                                </h5>
                            {% if role=="A"%}
                            <div>
                                <a type="button" href="/updateFAQueryC/{{c.getid()}}"> Edit </a>
                            </div>
                            <div>
                                <a type="button" href="/deleteQns/{{c.getid()}}">delete </a>
                            </div>
                            {% endif %}
                            </div>
                            <div class="collapse" id="tabno3-content-{{ c.getid() }}" aria-labelledby="tabno3-heading-{{c.getid()}}" data-parent="#tabno3">
                                <div class="card-body">
                                    <p>{{c.getanswer()}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if role=="A"%}
                <div>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='/addFAQueryCoI'">Add</button>
                </div>
                {% endif %}
            </div>
            <!--Chat-->
            <div class="tab-pane" id="tab4" role="tabpanel" aria-labelledby="StaffChat">
                <div class="accordion" id="tabno4">
                </div>
            </div>
        <!--Forum-->
        <div class="tab-pane" id="tab5" role="tabpanel" aria-labelledby="Forum">
            <div class="accordion" id="tabno5">
                    <!--Forum Show Qns-->
                    {% for Q in Gold %}
                    <div class="card">
                        <div class="card-header" id="forumheaders">
                            <h5>
                                <a href="/displayQns/{{Q.get_msgid()}}" >{{ Q.getmtitle() }}</a>
                            </h5>
                            <p>By:{{users.get(Q.getuid())}}  </p>
                            {% if role=="A" or Q.getuid()==session.get('user_id')%}
                            <div>
                                <a type="button" href="/deleteForumQns/{{Q.get_msgid()}}">delete </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            <!--add -->
            {% if role=="A" or role=="U" %}
            <div>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/createQns'">Ask a Question!</button>
            </div>
            {% endif %}
        </div>
        </div>
        </div>
    </div>
</div>
<!--{% if role=="A"%}
<div>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/FAQLOG'">FAQ Logs</button>
</div>
{% endif %}-->
{% endblock %}
