{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div id='message' class="alert alert-primary alert-dismissible fade show" role="alert">
       {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<style>
#message{
margin-top:4rem !important;
}
  .navbar {
    transition: all 0.4s;
}

nav{
  background-color: transparent !important;
}
.navbar .nav-link {
  background-color: transparent !important;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #FBC578;
    text-decoration: none;
}




/* Change navbar styling on scroll */
.navbar.active {
    background: #fff !important;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #FBC578;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

</style>
<link rel="stylesheet" href="../static/owlcarousel/assets/owl.carousel.css">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carosell_img active img-responsive" style="background-image: url('../static/product_images/home-1.jpg');">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item carosell_img " style="background-image: url('../static/product_images/home-2.1144b1b7.jpg');">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item carosell_img" style="background-image: url('../static/product_images/home-3-plain.2c5cde0b.jpg');">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div class="row mt-5">
<div class="col-md-4">
  <div class="card">
    <img src="static/product_images/68464746_p0_master1200.jpg" class="card-img">
    <div class="card-img-overlay text-white  center-y">
      <h5 class="card-title">Men</h5>
      <p class="card-text">This is a wider card with text below</p>
      <a href="#" class="btn btn-light">Shop Now</a>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card">
    <img src="static/product_images/68464746_p0_master1200.jpg" class="card-img">
    <div class="card-img-overlay text-white center-y">
      <h5 class="card-title">Women</h5>
      <p class="card-text">This is a wider card with text below</p>
      <a href="#" class="btn btn-light">Shop Now</a>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card">
    <img src="static/product_images/68464746_p0_master1200.jpg" class="card-img">
    <div class="card-img-overlay text-white  center-y">
      <h5 class="card-title">childern</h5>
      <p class="card-text">This is a wider card with text below</p>
      <a href="#" class="btn btn-light">Shop Now</a>
    </div>
  </div>
</div>
</div>
</div>



<!--product start-->

<!-- ========================= SECTION MAIN  ========================= -->
<section class="section-name  padding-y-sm">
  <div class="container">
  <header class="section-heading">
    <a href="/catergories/{{'male'}}" class="btn btn-outline-primary float-right">See all</a>
    <h3 class="section-title">Men</h3>
  </header><!-- sect-heading -->
  
  
  <div class="row">
    <div class="slider-items-owl owl-carousel owl-theme">
      {% for product in men %}
      <div class="item-slide">
      <figure class="card card-product-grid">
        <div class="img-wrap">
          <img src="../static/product_images/{{product.get_product_images()[0]}}" class="img-fluid">
          <span class="topbar">
            <a href="#" class="float-right"><i class="fa fa-heart wishlist favourite "></i></a>
            {% if product.get_product_discount() > 0 %}
            <span class="badge badge-success"> SALE </span>            
            {% endif %}
          </span>
        </div>
        <figcaption class="info-wrap ">
          <a href="/product/{{product.get_product_id()}}" class="title">{{product.get_product_name()}}</a>
          <div class="rating-wrap mt-1">
            <ul class="rating-stars">
              <li style="width:100%" class="stars-active"> 
                {% for star in range(product.get_average_reviews()) %}
                <i class="fa fa-star"></i>
                {% endfor %}
              </li>
              <li style="width:100%">
                {% for star in range(5) %}
                <i class="fa fa-star"></i>
                {% endfor %}
              </li>
            </ul>
            <span class="label-rating text-muted"> {{product.get_reviews_count()}} reviews</span>
          </div>
          <div class="price-wrap mt-3">
            {% if product.get_product_discount() <= 0 %}
              <span class="price">${{product.get_product_price()}}</span>
            {% else %}
              <span class="price">${{product.get_discounted_price()}}</span>
              <small class="price-old" style=" text-decoration: line-through;">${{product.get_product_price()}}</small>
            {% endif %}
          </div>
          <a href="/add_to_cart/{{product.get_product_id()}}/{{1}}" class="btn btn-sm btn-outline-success float-right">Add to cart <i class="fa fa-shopping-cart"></i></a>
        </figcaption>
      </figure>
      </div> <!-- col.// -->
    {% endfor %}
  </div> <!-- row.// -->
  
</div>
<!-- container // -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION MAIN  ========================= -->
<section class="section-name  padding-y-sm">
  <div class="container">
  <header class="section-heading">
    <a href="/catergories/{{'female'}}" class="btn btn-outline-primary float-right">See all</a>
    <h3 class="section-title">Women</h3>
  </header><!-- sect-heading -->
  
  
  <div class="row">
    <div class="slider-items-owl owl-carousel owl-theme">
      {% for product in women %}
      <div class="item-slide">
      <figure class="card card-product-grid">
        <div class="img-wrap">
          <img src="../static/product_images/{{product.get_product_images()[0]}}" class="img-fluid">
          <span class="topbar">
            <a href="#" class="float-right "><i class="fa fa-heart wishlist "></i></a>
            {% if product.get_product_discount() > 0 %}
            <span class="badge badge-success"> SALE </span>            
            {% endif %}
          </span>
        </div>
        <figcaption class="info-wrap ">
          <a href="/product/{{product.get_product_id()}}" class="title">{{product.get_product_name()}}</a>
          <div class="rating-wrap mt-1">
            <ul class="rating-stars">
              <li style="width:100%" class="stars-active"> 
                {% for star in range(product.get_average_reviews()) %}
                <i class="fa fa-star"></i>
                {% endfor %}
              </li>
              <li style="width:100%">
                {% for star in range(5) %}
                <i class="fa fa-star"></i>
                {% endfor %}
              </li>
            </ul>
            <span class="label-rating text-muted"> {{product.get_reviews_count()}} reviews</span>
          </div>
          <div class="price-wrap mt-3">
            {% if product.get_product_discount() <= 0 %}
              <span class="price">${{product.get_product_price()}}</span>
            {% else %}
              <span class="price">${{product.get_discounted_price()}}</span>
              <small class="price-old" style=" text-decoration: line-through;">${{product.get_product_price()}}</small>
            {% endif %}
          </div>
          <a href="/add_to_cart/{{product.get_product_id()}}/{{1}}" class="btn btn-sm btn-outline-success float-right">Add to cart <i class="fa fa-shopping-cart"></i></a>
        </figcaption>
      </figure>
      </div> <!-- col.// -->
    {% endfor %}
  </div> <!-- row.// -->
  
</div>
<!-- container // -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION MAIN  ========================= -->
<section class="section-name  padding-y-sm">
  <div class="container">
  <header class="section-heading">
    <a href="/catergories/{{'child'}}" class="btn btn-outline-primary float-right">See all</a>
    <h3 class="section-title">Children</h3>
  </header><!-- sect-heading -->
  
  
  <div class="row">
    <div class="slider-items-owl owl-carousel owl-theme">
      {% for product in child %}
      <div class="item-slide">
      <figure class="card card-product-grid">
        <div class="img-wrap">
          <img src="../static/product_images/{{product.get_product_images()[0]}}" class="img-fluid">
          <span class="topbar">
            <a href="#" class="float-right "><i class="fa fa-heart wishlist "></i></a>
            {% if product.get_product_discount() > 0 %}
            <span class="badge badge-success"> SALE </span>            
            {% endif %}
          </span>
        </div>
        <figcaption class="info-wrap ">
          <a href="/product/{{product.get_product_id()}}" class="title">{{product.get_product_name()}}</a>
          <div class="rating-wrap mt-1">
            <ul class="rating-stars">
              <li style="width:100%" class="stars-active"> 
                {% for star in range(product.get_average_reviews()) %}
                <i class="fa fa-star"></i>
                {% endfor %}
              </li>
              <li style="width:100%">
                {% for star in range(5) %}
                <i class="fa fa-star"></i>
                {% endfor %}
              </li>
            </ul>
            <span class="label-rating text-muted"> {{product.get_reviews_count()}} reviews</span>
          </div>
          <div class="price-wrap mt-3">
            {% if product.get_product_discount() <= 0 %}
              <span class="price">${{product.get_product_price()}}</span>
            {% else %}
              <span class="price">${{product.get_discounted_price()}}</span>
              <small class="price-old" style=" text-decoration: line-through;">${{product.get_product_price()}}</small>
            {% endif %}
          </div>
          <a href="/add_to_cart/{{product.get_product_id()}}/{{1}}" class="btn btn-sm btn-outline-success float-right">Add to cart <i class="fa fa-shopping-cart"></i></a>
        </figcaption>
      </figure>
      </div> <!-- col.// -->
    {% endfor %}
  </div> <!-- row.// -->
</div>
<!-- container // -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION MAIN  ========================= -->
<section class="section-name  padding-y-sm">
  <div class="container">
  <header class="section-heading">
    <a href="/catergories" class="btn btn-outline-primary float-right">See all</a>
    <h3 class="section-title">Products</h3>
  </header><!-- sect-heading -->
  
  
  <div class="row">
    {% for product in product_list %}
    <div class="col-md-3">
      <div href="#" class="card card-product-grid">
        <div class="img-wrap">
          <img src="../static/product_images/{{product.get_product_images()[0]}}" class="img-fluid">
          <span class="topbar">
            <a href="/addwishlist/{{product.get_product_id()}}" class="float-right"><i class="fa fa-heart"></i></a>
            {% if product.get_product_discount() > 0 %}
            <span class="badge badge-success"> SALE </span>            
            {% endif %}
          </span>
        </div>
        <figcaption class="info-wrap border-top">
          <a href="/product/{{product.get_product_id()}}" class="title">{{product.get_product_name()}}</a>
          <div class="rating-wrap mt-1">
            <ul class="rating-stars">
              <li style="width:100%" class="stars-active"> 
                {% for star in range(product.get_average_reviews()) %}
                <i class="fa fa-star"></i>
                {% endfor %}
              </li>
              <li style="width:100%">
                {% for star in range(5) %}
                <i class="fa fa-star"></i>
                {% endfor %}
              </li>
            </ul>
            <span class="label-rating text-muted"> {{product.get_reviews_count()}} reviews</span>
          </div>
          <div class="price-wrap mt-3">
            {% if product.get_product_discount() <= 0 %}
              <span class="price">${{product.get_product_price()}}</span>
            {% else %}
              <span class="price">${{product.get_discounted_price()}}</span>
              <small class="price-old" style=" text-decoration: line-through;">${{product.get_product_price()}}</small>
            {% endif %}
          </div>
          <a href="/add_to_cart/{{product.get_product_id()}}/{{1}}" class="btn btn-sm btn-outline-success float-right">Add to cart <i class="fa fa-shopping-cart"></i></a>
        </figcaption>
      </div>
    </div> <!-- col.// -->
    {% endfor %}
    
  </div> <!-- row.// -->
  
</div>
<!-- container // -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->
  
<!--product end-->
{% endblock  %}


{% block script %}
<script>
  $(function () {
    $(window).on('scroll', function () {
        if ( $(window).scrollTop() > 10 ) {
            $('.navbar').addClass('active');
        } else {
            $('.navbar').removeClass('active');
        }
    });
  });
</script>
<script src="../static/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    
      /////////////////  items slider. /plugins/owlcarousel/
      if ($('.slider-banner-owl').length > 0) { // check if element exists
          $('.slider-banner-owl').owlCarousel({
              loop:false,
              rewind: true,
              margin:0,
              items: 1,
              dots: false,
              nav:true,
              navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
          });
      } // end if 
  
      /////////////////  items slider. /plugins/owlslider/
      if ($('.slider-items-owl').length > 0) { // check if element exists
          $('.slider-items-owl').owlCarousel({
              loop:false,
              rewind: true,
              margin:10,
              nav:true,
              navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
              responsive:{
                  0:{
                      items:1
                  },
                  640:{
                      items:3
                  },
                  1024:{
                      items:4
                  }
              }
          })
      } // end if
  
      /////////////////  items slider. /plugins/owlcarousel/
      if ($('.slider-custom-owl').length > 0) { // check if element exists
          var slider_custom_owl = $('.slider-custom-owl');
          slider_custom_owl.owlCarousel({
              loop: false,
              rewind: true,
              margin:15,
              items: 1,
              nav: false,
          });
  
          // for custom navigation
          $('.owl-prev-custom').click(function(){
              slider_custom_owl.trigger('prev.owl.carousel');
          });
  
          $('.owl-next-custom').click(function(){
             slider_custom_owl.trigger('next.owl.carousel');
          });
  
      } // end if 
  });	
    </script>
{% endblock  %}

<!-- <section class="container pt-md-3 pb-5 mb-md-3">      
 <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
  <div class="card product-card"><span class="badge badge-danger badge-shadow">Sale</span>
      <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="czi-heart"></i></button>
      <a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img src="../static/product_images/mango-man-1156-4297221-1.jpg" alt="Product"></a>
      <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Women’s T-shirt</a>
          <h3 class="product-title font-size-sm"><a href="#">Cotton Lace Blouse</a></h3>
          <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">$28.<small>50</small></span>
                  <del class="font-size-sm text-muted">$38.<small>50</small></del>
              </div>
              <div class="star-rating"><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star"></i><i class="sr-star czi-star"></i>
              </div>
          </div>
      </div>
      <div class="card-body card-body-hidden">
          <div class="d-flex mb-2">
              <button class="btn btn-primary btn-sm" type="button" data-toggle="toast" data-target="#cart-toast"><i class="czi-cart font-size-sm mr-1"></i>Add to Cart</button>
          </div>
      </div>
  </div>
  <hr class="d-sm-none">
</div>
</section>  -->



 <!-- Product
 <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
  <div class="card product-card"><span class="badge badge-danger badge-shadow">Sale</span>
      <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="czi-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img src="img/shop/catalog/02.jpg" alt="Product"></a>
      <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Women’s T-shirt</a>
          <h3 class="product-title font-size-sm"><a href="shop-single-v1.html">Cotton Lace Blouse</a></h3>
          <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">$28.<small>50</small></span>
                  <del class="font-size-sm text-muted">$38.<small>50</small></del>
              </div>
              <div class="star-rating"><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star"></i><i class="sr-star czi-star"></i>
              </div>
          </div>
      </div>
      <div class="card-body card-body-hidden">
          <div class="text-center pb-2">
              <div class="custom-control custom-option custom-control-inline mb-2">
                  <input class="custom-control-input" type="radio" name="color1" id="white" checked>
                  <label class="custom-option-label rounded-circle" for="white"><span class="custom-option-color rounded-circle" style="background-color: #eaeaeb;"></span></label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                  <input class="custom-control-input" type="radio" name="color1" id="blue">
                  <label class="custom-option-label rounded-circle" for="blue"><span class="custom-option-color rounded-circle" style="background-color: #d1dceb;"></span></label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                  <input class="custom-control-input" type="radio" name="color1" id="yellow">
                  <label class="custom-option-label rounded-circle" for="yellow"><span class="custom-option-color rounded-circle" style="background-color: #f4e6a2;"></span></label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                  <input class="custom-control-input" type="radio" name="color1" id="pink">
                  <label class="custom-option-label rounded-circle" for="pink"><span class="custom-option-color rounded-circle" style="background-color: #f3dcff;"></span></label>
              </div>
          </div>
          <div class="d-flex mb-2">
      <select class="custom-select custom-select-sm mr-2">
    <option>XS</option>
    <option>S</option>
    <option>M</option>
    <option>L</option>
    <option>XL</option>
  </select>
              <button class="btn btn-primary btn-sm" type="button" data-toggle="toast" data-target="#cart-toast"><i class="czi-cart font-size-sm mr-1"></i>Add to Cart</button>
          </div>
          <div class="text-center"><a class="nav-link-style font-size-ms" href="#quick-view" data-toggle="modal"><i class="czi-eye align-middle mr-1"></i>Quick view</a></div>
      </div>
  </div>
  <hr class="d-sm-none">
</div>
