{% extends 'base.html'%}
{% block content %}
<br><br><br><br>
<div class="card h-100">
	<article class="card-body">
		<header class="mb-4">
			<h2 class="card-title">Order Confirmation</h2>
		</header>
			<div class="row">
				{%for item in usercart.keys()%}
				{%for i in productincart%}
				{%if i.get_product_id() == item%}
				<div class="col-md-6">
					<figure class="itemside  mb-3">
						<div class="aside"><img src="../static/product_images/{{i.get_product_images()[0]}}" class="border img-xs"></div>
						<figcaption class="info">
							<p>{{i.get_product_name()}}</p>
							<span>{{i.get_discounted_price()*usercart[item]}}</span>
						</figcaption>
					</figure>
				{%endif%}
				{%endfor%}
				{%endfor%}
				</div> <!-- col.// -->
			</div> <!-- row.// -->
	</article> <!-- card-body.// -->
	<article class="card-body border-top">

		<dl class="row">
		  <dt class="col-sm-10">Subtotal: <span class="float-right text-muted"></span></dt>
		  <dd class="col-sm-2 text-right"><strong>${{Grand_total}}</strong></dd>

		  <dt class="col-sm-10">Delivery charge: <span class="float-right text-muted">Express delivery</span></dt>
		  <dd class="col-sm-2 text-right"><strong>$5</strong></dd>

		  <dt class="col-sm-10">Total:</dt>
		  <dd class="col-sm-2 text-right"><strong>${{Grand_total+5}}</strong></dd>
		</dl>
		<p>Thank you for placing an order with us.</p>
		<p>If you have any queries with your order you can call us at 6433 6755 or go to <a href="/Myorder">My order</a>.</p>
	</article> <!-- card-body.// -->
</div>
{% endblock %}
