{% extends "base.html" %}
{% block content %}
<br><br><br><br>
{% from "includes/_formhelper.html" import render_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
<h1 class="display-4 mt-n1">Reset Password</h1>

<div class="container-fluid row justify-content-center pt-4">
 <article class="card-body border col-sm-4">

<form method="POST" action="">
 <div class="form-group">
 {{ render_field(form.email, class="form-control" ,autocomplete="off") }}
 </div>
<div>
  {% if error %}
        <p  style="color:red;"><strong>Error:</strong> {{ error }}
      {% endif %}
        </div>
  <input type="submit" value="Submit" class="btn btn-primary"/>

</form>
 </article>
</div>
{% endblock %}
