{% extends "base.html" %}
{% block content %}
{% from "includes/_formhelper.html" import render_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
<div class="container-fluid row justify-content-center pt-4">
 <article class="card-body border col-sm-4">
<h1 class="display-4 mt-n1">Payment</h1>
<form method="POST" action="">
<div class="card">
      <div class="card-body">
       <form>
<div class="col-md-8">
<div class="form-group">
 {{ render_field(form.cardholder, class="form-control" ,autocomplete="off") }}
</div> <!-- form-group.// -->
</div>
<div class="col-md-8">
<div class="form-group">
	 {{ render_field(form.cardno, class="form-control" ,autocomplete="off") }}
</div> <!-- form-group.// -->
</div>

<div class="col-md-6">
        <div class="form-group">
             {{ render_field(form.expiry, class="form-control" ,autocomplete="off") }}
        	</div>
        </div>
    <div class="col-md-3">
        <div class="form-group">
             {{ render_field(form.cvc, class="form-control" ,autocomplete="off") }}
        </div> <!-- form-group.// -->
    </div>
</div> <!-- row.// -->
<button class="subscribe btn btn-primary btn-block" type="button"> Confirm </button>
</form>
      </div> <!-- card-body.// -->
    </div>
{% endblock %}
