{% extends 'base.html' %}
{% block content %}
<br><br><br><br> 
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container-fluid">
    <div class="row">
    <aside class="col-md-2">
            
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Product type</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
                <div class="card-body">
      
                    
                    <ul class="list-menu">
                    <li><a href="/catergories">All  </a></li>
                    <li><a href="/catergories/{{'male'}}">Men  </a></li>
                    <li><a href="/catergories/{{'female'}}">Women </a></li>
                    <li><a href="/catergories/{{'child'}}">Children  </a></li>
                    
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
        
        

    </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
<main class="col-md-8">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto">{{product_list|count}} Items found </span>
            </div>
    </header><!-- sect-heading -->
    <div class="row">
        {% for product in product_list %}   
        <div class="col-md-3">
            <div href="#" class="card card-product-grid">
              <div class="img-wrap">
                <img src="../static/product_images/{{product.get_product_images()[0]}}">
                <span class="topbar">
                  <a href="/addwishlist/{{product.get_product_id()}}" class="float-right"><i class="fa fa-heart"></i></a>
                  {% if product.get_product_discount() > 0 %}
                    <span class="badge badge-success"> SALE </span>            
                    {% endif %}
                </span>
              </div>
              <figcaption class="info-wrap border-top">
                <a href="/product/{{product.get_product_id()}}" class="title">{{product.get_product_name()}}</a>
                <div class="rating-wrap mt-1">
                  <ul class="rating-stars">
                    <li style="width:100%" class="stars-active"> 
                      {% for star in range(product.get_average_reviews()) %}
                      <i class="fa fa-star"></i>
                      {% endfor %}
                    </li>
                    <li style="width:100%">
                      {% for star in range(5) %}
                      <i class="fa fa-star"></i>
                      {% endfor %}
                    </li>
                  </ul>
                  <span class="label-rating text-muted"> {{product.get_reviews_count()}} reviews</span>
                </div>
                <div class="price-wrap mt-3">
                  {% if product.get_product_discount() <= 0 %}
                  <span class="price">${{product.get_product_price()}}</span>
                  {% else %}
                    <span class="price">${{product.get_discounted_price()}}</span>
                    <small class="price-old" style=" text-decoration: line-through;">${{product.get_product_price()}}</small>
                  {% endif %}
                </div>
                <a href="/add_to_cart/{{product.get_product_id()}}/{{1}}" class="btn btn-sm btn-outline-success float-right">Add to cart <i class="fa fa-shopping-cart"></i></a>
              </figcaption>
            </div>
          </div> <!-- col.// -->
          {% endfor %}
    </div> <!-- row end.// -->
    
    
    
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock  %}