{% extends 'dashboard_base.html' %}
{% block content %}
<div class="card">
    <article class="card-body">
    <header class="mb-4">
        {% if ftype == 'create' %}
        <h3 class="card-title">Create Product</h3>   
        {% else %}
        <h3 class="card-title">Edit Product</h3>   
        {% endif %}
    </header>
    <form method="POST" action="" enctype="multipart/form-data">
    <div class="form-group">
        {{ form.product_name.label(class="form-control-label")}}
        {{ form.product_name(class="form-control",type="text")}}
    </div>
     <div class="form-group">
        {{ form.product_Description.label(class="form-control-label")}}
        {{ form.product_Description(class="form-control",type="text")}}
        </div>
        <div class="form-group">
        {{ form.product_Quantity.label(class="form-control-label")}}
        {{ form.product_Quantity(class="form-control",type="number") }}
        </div>
       <div class="form-group">
       {{ form.product_Selling_Price.label(class="form-control-label")}}
       {{ form.product_Selling_Price(class="form-control",type="number",step="0.01") }}
       </div>
       <div class="form-group">
       {{ form.product_Discount.label(class="form-control-label")}}
       {{ form.product_Discount(class="form-control",type="number",step="0.01")}}
       </div>
    
       <div class="form-group">
            {{ form.product_catergory.label(class="form-control-label")}}
            {{ form.product_catergory(class="selectpicker")}}
        </div>
    
        <div class="form-group">
                {{ form.product_images.label(class="form-control-label")}}
                {{ form.product_images(class="form-control-file")}}
        </div>
     <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
    <hr>
</article> <!-- card-body end .// -->
</div>
{% endblock  %}