{% extends "dashboard_base.html" %}
{% block content %}
{% for user in usersList %}
	 {% if session['user_id'] ==  user.get_user_id() %}
<div class="card">
      <div class="card-body">
      <h4 class="card-title mb-4">Profile</h4>
     <form>

     	<div class="form-group">
			<img src="{{session['profile_picture']}}" class="img-xs rounded-circle border" width="100"></div>
	 </form>
    </div>
	     </div>
	<div class="form-row">
			<div class="col form-group">
				<label>Email</label>
			  	<input type="text" class="form-control" value="{{ user.get_user_email() }}">
			</div>
	</div>
	<div class="form-row">
			<div class="col form-group">
				<label>Username</label>
			  	<input type="text" class="form-control" value="{{ user.get_username() }}">
			</div>
			<div class="col form-group">
			<label></label>
			<p>Role: {{user.get_user_role()}}</p>
			</div>
	</div>
        <div class="form-row">
			<div class="col form-group">
				<label>First Name</label>
			  	<input type="text" class="form-control" value="{{ user.get_user_firstname() }}">
			</div> <!-- form-group end.// -->
			<div class="col form-group">
				<label>Last Name</label>
			  	<input type="text" class="form-control" value="{{ user.get_user_lastname() }}">
			</div> <!-- form-group end.// -->
		</div> <!-- form-row.// -->


		<div class="form-row">
			<div class="form-group col-md-6">
			  <label>Zip</label>
			  <input type="text" class="form-control" value="123009">
			</div> <!-- form-group end.// -->
			<div class="form-group col-md-6">
			  <label>Phone</label>
			  <input type="text" class="form-control" value="+123456789">
			</div> <!-- form-group end.// -->
		</div> <!-- form-row.// -->

		<button class="btn btn-primary btn-block">Send</button>
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->
	{% endif %}
{% endfor %}
{% endblock %}
{% block script %}

{% endblock %}

