{% extends "dashboard_base.html" %}
{% block content %}
{% for user in usersList %}
	 {% if session['user_id'] ==  user.get_user_id() %}
<div class="card">
      <div class="card-body">
      <h4 class="card-title mb-4">Profile</h4>
     <form>

     	<div class="form-group">
			<img src="{{session['profile_picture']}}" class="img-xs rounded-circle border" width="100"></div>
			<div class="col form-group">
			<label></label>
			<p>{% if session['role'] ==  'A' %}
				Role: Admin
				{% elif session['role'] ==  'B' %}
				Role: Buyer
				{% elif session['role'] ==  'S' %}
				Role: Seller
				{% endif %}</p>
			</div>

	<div class="form-row">
			<div class="col form-group">
				<label>Email</label>
			  	<input type="text" class="form-control" value="{{ user.get_user_email() }}" readonly>
			</div>
	</div>
	<div class="form-row">
			<div class="col form-group">
				<label>Username</label>
			  	<input type="text" class="form-control" value="{{ user.get_username() }}" readonly>
			</div>
	</div>
        <div class="form-row">
			<div class="col form-group">
				<label>First Name</label>
			  	<input type="text" class="form-control" value="{{ user.get_user_firstname() }}" readonly>
			</div> <!-- form-group end.// -->
			<div class="col form-group">
				<label>Last Name</label>
			  	<input type="text" class="form-control" value="{{ user.get_user_lastname() }}" readonly>
			</div> <!-- form-group end.// -->
		</div> <!-- form-row.// -->


      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->
	{% endif %}
{% endfor %}
{% endblock %}
{% block script %}

{% endblock %}

