{% extends "base.html" %}
{% block content %}
<h1 class="display-6">Retrieve Users</h1>
<div>
 <table class="table table-striped">
 <thead>
 <tr>
   <th>ID</th>
 <th>Email</th>
 <th>Username</th>
 <th>Password</th>
 <th>Firstname</th>
 <th>Lastname</th>
 <th></th>
 <th></th>
 </tr>
 </thead>
 <tbody>
{% for user in usersList %}
 <tr>
  <td>{{ user.get_user_id() }}</td>
 <td>{{ user.get_user_email() }}</td>
 <td>{{ user.get_username() }}</td>
 <td>{{ user.get_user_password() }}</td>
<td>{{ user.get_user_firstname() }}</td>
 <td>{{ user.get_user_lastname() }}</td>
 <td><a href="#" class="btn btn-warning">Update</a></td>
 <td>
 <form action="" method="POST">
 <input type="submit" value="Delete" class="btn btndanger">
 </form>
 </td>
 </tr>
 {% endfor %}
 </tbody>
 </table>
</div>
{% endblock %}

