{% extends 'dashboard_base.html' %}
{% block content %}
<div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Orders</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Order Id</th>
                  <th>Buyer name</th>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
              {% for obj in orders %}
              {% for order in obj.get_cart_list()%}
                <tr>
                  <td>{{obj.get_orderId()}}</td>
                  <td>{{obj.get_buyername()}}</td>
                  <td>{{productinorder[order].get_product_name()}}</td>
                  <td>{{obj.get_cart_list()[order]}}</td>
                  <td>{{productinorder[order].get_discounted_price()*obj.get_cart_list()[order]}}</td>
                </tr>
                  {% endfor %}
              {% endfor %}
              </tbody>
              </table>
            </div>
    </div>
</div>
{% endblock  %}

