{% extends "base.html" %}
{% block content %}
<br><br><br><br>
{% from "includes/_formhelper.html" import render_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
<div class="container-fluid row justify-content-center pt-4">
 <article class="card-body border col-sm-4">
<h1 class="display-4 mt-n1">Update Status</h1>
<form method="POST" action="">
 <div class="form-group">
 {{ render_field(form.status, class="form-control" ,autocomplete="off") }}
 </div>
 <input type="submit" value="Update" class="btn btn-primary"/>
</form>
  </article>
</div>
{% endblock %}
