{% extends 'dashboard_base.html' %}
{% block content %}
<div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Orders</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Product</th>
                  <th>Buyer Name</th>
                  <th>Quantity</th>
                  <th>Payment Status</th>
                  <th>Total Price</th>
                    <th>Edit</th>
                </tr>
              </thead>
              <tbody>
              {%for item in userorders%}
                {%for i in productinorder%}
                  {%if i.get_product_id() == item%}
                <tr>
                  <td></td>
                  <td>{{i.get_product_name()}}</td>
                  <td></td>
                  <td>{{userorders[item]}}</td>
                  <td></td>
                  <td>{{i.get_discounted_price()*userorders[item]}}</td>
                    <td><a href="#" class="btn btn-warning">Edit Status</a></td>
                </tr>
                  {% endif %}
                {% endfor %}
              {% endfor %}
              </tbody>
              </table>
            </div>
    </div>
</div>
{% endblock  %}

