{% extends 'dashboard_base.html' %}
{% block content %}
<div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Delivery Status</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th>Order ID</th>
                  <th>Customer name</th>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Address</th>
                  <th>Order Date</th>
                    <th>Delivery Status</th>
                    <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for delivery_item in delivery_list %}
                <tr>
                    <td>{{ delivery_item.get_individual_orderid() }}</td>
                  <td>{{ delivery_item.get_buyer_name() }}</td>
                  <td>{{ delivery_item.get_product_name() }}</td>
                  <td>{{ delivery_item.get_quantity() }}</td>
                  <td>{{ delivery_item.get_address() }}</td>
                  <td>{{ delivery_item.get_order_date() }}</td>
                  <td>{{ delivery_item.get_deliverystat() }}</td>
                  {% if delivery_item.get_deliverystat() =="Order Received" %}
                    <td><a href="/DeliveryReceived/{{ delivery_item.get_individual_orderid() }}" class="btn btn-success">Approved</a></td>
                  {% else %}
                    <td><a href="/SellerDeliveryUpdate/{{ delivery_item.get_individual_orderid() }}" class="btn btn-warning">Edit</a></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
              </table>
            </div>
          <a href="/DeliveryHistory" class="btn btn-sm btn-outline-primary">Delivery History</a>
    </div>
</div>


{% endblock  %}

{% block script %}
<script>
  $(document).ready(function() {
      $('#dataTable').DataTable();
    });

</script>
{% endblock  %}
