{% extends 'dashboard_base.html' %}
<!-- Default Card Example -->

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>
<a type="button" class="btn btn-success float-right" href="/create_products">New Product</a>
<div class="row">
{% for product in product_list %}
<div class="card mb-3 "style="max-width: 540px;">
        <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../static/bootstrap-theme/img/product_images/{{product.get_product_images()[0]}}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{product.get_product_name()}}</h5>
                    <p class="card-text">{{product.get_product_desc()}}</p>
                    <a href="{{url_for('dashboard_edit_products', productid = product.get_product_id())}}" class="btn btn-outline-warning">Edit</a>
                    <form action="{{url_for('delete_products', productid = product.get_product_id())}}"method="POST">     
                      <input type="submit" value="Delete" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this Product?');">
                    </form>
                </div>
                </div>
              </div>
</div>
{% endfor %}
</div>

{% endblock  %}