{% extends 'dashboard_base.html' %}
{% block content %}
<div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Product Activity Logs</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="ProductLogsTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>User Id</th>
                  <th>Product Id</th>
                  <th>Activity</th>
                  <th>Date</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                {% for log_item in product_log_list %}    
                <tr>
                  <td>{{userid}}</td>
                  <td>{{log_item.get_product_id()}}</td>
                  <td>{{log_item.get_p_activity()}}</td>
                  <td>{{log_item.get_timestamp_as_datetime().strftime("%m/%d/%Y")}}</td>
                  <td>{{log_item.get_timestamp_as_datetime().strftime("%H:%M:%S")}}</td>
                </tr>
                {% endfor %}
              </tbody>
              </table>
            </div>
    </div>
</div>
{% endblock  %}
{% block script %}
<script>
  $(document).ready(function() {
      $('#ProductLogsTable').DataTable();
    });

</script>
{% endblock  %}



 
