{% extends 'dashboard_base.html' %}
<!-- Default Card Example -->
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div id='message' class="alert alert-success alert-dismissible fade show" role="alert">
       {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
        <a type="button" class="btn btn-success float-right" href="/create_products">New Product</a>
</div>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Product Management</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="ProductManageTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Product</th>
            <th>Product Name</th>
            <th>Product Quantity</th>
            <th>Update</th>
            <th>Edit</th>
            <th>Delete</th>

          </tr>
        </thead>
        <tbody>
          {% for product in product_list %}    
          <tr>
            <td><img src="../static/product_images/{{product.get_product_images()[0]}}" width="60" height="60" alt="..."></td>
            <td>{{product.get_product_name()}}</td>
            <td>{{product.get_product_current_qty()}}</td>
            <td><a href="{{url_for('updateqty', productid = product.get_product_id())}}" class="btn btn-outline-success">Update Quantity</a></td>
            <td><a href="{{url_for('dashboard_edit_products', productid = product.get_product_id())}}" class="btn btn-outline-warning">Edit</a></td>
            <td>
              <form action="{{url_for('delete_products', productid = product.get_product_id())}}"method="POST">     
                <input type="submit" value="Delete" class="btn btn-outline-danger mt-3" onclick="return confirm('Are you sure you want to delete this Product?');">
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
      </div>
</div>
</div>


{% endblock  %}



{% block script %}
<script>
  $(document).ready(function() {
      $('#ProductManageTable').DataTable();
    });

</script>
{% endblock  %}
