<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <link rel="stylesheet" href="../static/bootstrap-select-1.13.9/bootstrap-select-1.13.9/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="../static/css/home.css">
</head>



<!--product start-->
<div class="container">
    <div class="row justify-content-between align-items-center mb-4">
      <div class="col-12 col-sm">
          <ul class="list-inline text-center text-sm-left mb-3 mb-sm-0">
              <li class="list-inline-item"><a href="#" class="text-dark">All Products </a></li>
              <li class="list-inline-item"><a href="#" class="text-muted text-hover-dark">Clothing </a></li>
              <li class="list-inline-item"><a href="#" class="text-muted text-hover-dark">Bags</a></li>
              <li class="list-inline-item"><a href="#" class="text-muted text-hover-dark">Shoes</a></li>
              <li class="list-inline-item"><a href="#" class="text-muted text-hover-dark">Accessories</a></li>
          </ul>
      </div>
      <div class="col-12 col-sm-auto text-center"><a href="#" class="btn btn-link px-0">All products</a></div>
    </div>
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img" src="../static/product_images/mango-man-1156-4297221-1.jpg" class="img-fluid" alt="Grey shirt">
        <div class="card-body">
          <h4 class="card-title">Grey shirt</h4>
          <p class="card-text">
              no hot boy here just a very very very grey shirt
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="price text-success"><h4 class="mt-4">$125</h4></div>
            <div class="price text-success"><h5 class="mt-4">$125</h5></div>
             <a href="#" type ="button" class="btn btn-danger mt-3">Add to Cart</a>
          </div>

        </div>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card">
          <img class="card-img" src="../static/product_images/mango-man-1156-4297221-1.jpg" class="img-fluid" alt="Grey shirt">
          <div class="card-body">
            <h4 class="card-title">Grey shirt</h4>
            <p class="card-text">
                no hot boy here just a very very very grey shirt
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="price text-success"><h4 class="mt-4">$125</h4></div>
              <div class="price text-success"><h5 class="mt-4">$125</h5></div>
               <a href="#" type ="button" class="btn btn-danger mt-3">Add to Cart</a>
            </div>
  
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-8 col-md-6 col-lg-4">
          <div class="card">
            <img class="card-img" src="../static/product_images/mango-man-1156-4297221-1.jpg" class="img-fluid" alt="Grey shirt">
            <div class="card-body">
              <h4 class="card-title">Grey shirt</h4>
              <p class="card-text">
                  no hot boy here just a very very very grey shirt
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="price text-success"><h4 class="mt-4">$125</h4></div>
                <div class="price text-success"><h5 class="mt-4">$125</h5></div>
                 <a href="#" type ="button" class="btn btn-danger mt-3">Add to Cart</a>
              </div>
    
            </div>
          </div>
        </div>
         <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img" src="../static/product_images/mango-man-1156-4297221-1.jpg" class="img-fluid" alt="Grey shirt">
        <div class="card-body">
          <h4 class="card-title">Grey shirt</h4>
          <p class="card-text">
              no hot boy here just a very very very grey shirt
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="price text-success"><h4 class="mt-4">$125</h4></div>
            <div class="price text-success"><h5 class="mt-4">$125</h5></div>
             <a href="#" type ="button" class="btn btn-danger mt-3">Add to Cart</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!--product end-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/bootstrap-select-1.13.9/bootstrap-select-1.13.9/dist/js/bootstrap-select.min.js"></script>
</html>

 <!-- Product
 <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
  <div class="card product-card"><span class="badge badge-danger badge-shadow">Sale</span>
      <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="czi-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img src="img/shop/catalog/02.jpg" alt="Product"></a>
      <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">Women’s T-shirt</a>
          <h3 class="product-title font-size-sm"><a href="shop-single-v1.html">Cotton Lace Blouse</a></h3>
          <div class="d-flex justify-content-between">
              <div class="product-price"><span class="text-accent">$28.<small>50</small></span>
                  <del class="font-size-sm text-muted">$38.<small>50</small></del>
              </div>
              <div class="star-rating"><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star-filled active"></i><i class="sr-star czi-star"></i><i class="sr-star czi-star"></i>
              </div>
          </div>
      </div>
      <div class="card-body card-body-hidden">
          <div class="text-center pb-2">
              <div class="custom-control custom-option custom-control-inline mb-2">
                  <input class="custom-control-input" type="radio" name="color1" id="white" checked>
                  <label class="custom-option-label rounded-circle" for="white"><span class="custom-option-color rounded-circle" style="background-color: #eaeaeb;"></span></label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                  <input class="custom-control-input" type="radio" name="color1" id="blue">
                  <label class="custom-option-label rounded-circle" for="blue"><span class="custom-option-color rounded-circle" style="background-color: #d1dceb;"></span></label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                  <input class="custom-control-input" type="radio" name="color1" id="yellow">
                  <label class="custom-option-label rounded-circle" for="yellow"><span class="custom-option-color rounded-circle" style="background-color: #f4e6a2;"></span></label>
              </div>
              <div class="custom-control custom-option custom-control-inline mb-2">
                  <input class="custom-control-input" type="radio" name="color1" id="pink">
                  <label class="custom-option-label rounded-circle" for="pink"><span class="custom-option-color rounded-circle" style="background-color: #f3dcff;"></span></label>
              </div>
          </div>
          <div class="d-flex mb-2">
      <select class="custom-select custom-select-sm mr-2">
    <option>XS</option>
    <option>S</option>
    <option>M</option>
    <option>L</option>
    <option>XL</option>
  </select>
              <button class="btn btn-primary btn-sm" type="button" data-toggle="toast" data-target="#cart-toast"><i class="czi-cart font-size-sm mr-1"></i>Add to Cart</button>
          </div>
          <div class="text-center"><a class="nav-link-style font-size-ms" href="#quick-view" data-toggle="modal"><i class="czi-eye align-middle mr-1"></i>Quick view</a></div>
      </div>
  </div>
  <hr class="d-sm-none">
</div>