{% extends "base.html" %}
{% block content %}
<br><br><br><br>
{% from "includes/_formhelper.html" import render_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
<div class="container-fluid row justify-content-center pt-4">
 <article class="card-body border col-sm-4">
<form method="POST" action="">
 <div class="form-row">
  <div class="col form-group">
 {{ form.orderqty.label(class="form-control-label")}}
 {{ form.orderqty(class="form-control",type="number") }}
 </div>
     <input type="submit" value="Update" class="btn btn-primary float-right"/>
</form>
    <hr>
</article> <!-- card-body end .// -->
</div>
{% endblock  %}
