{% extends "base.html" %}


{% block content %}
{% from "components/_formHelper.html" import render_field %}
<br>
<br>
<h1 class="display-4"><strong>Update Question</strong></h1>
<div class="container">
<form method="POST" action="">
    <div class="form-group">
        {{render_field(form.mtitle, class="form-control",placeholder="")}}
    </div>
    <div class="form-group">
        {{render_field(form.mbody, class="form-control",placeholder="")}}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
</div>
{% endblock %}