<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion " id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="/dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>
     <!-- Nav Item - User list only for admin -->
    {% if session['role'] == 'A' %}
      <li class="nav-item">
      <a class="nav-link" href="/retrieveUsers">
        <i class="fas fa-fw fa-list"></i>
        <span>User List</span></a>
    </li>
    {% endif %}
    <!-- Nav Item - Analytics -->
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Analytics</span></a>
    </li>

    <!-- Nav Item - products -->
    <li class="nav-item">
           <a class="nav-link" href="/manage_products">
             <i class="fas fa-fw fa-shopping-bag"></i>
             <span>Products</span></a>
     </li>

    <!-- Nav Item - Logs -->
    <li class="nav-item">
      <a class="nav-link" href="/product_logs">
        <i class="fas fa-fw fa-table"></i>
        <span>Logs</span></a>
    </li>

    <!--Nav Item - Delivery List -->
    <li class="nav-item">
      <a class="nav-link" href="/SellerDelivery">
        <i class="fas fa-fw fa-truck-moving"></i>
        <span>Delivery List</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  <!-- End of Sidebar -->
