<!-- Sidebar -->
 <style>
        /* Modify the background color */
        {% if session['role'] == 'A' %}
        .navbar-custom {
             background-color:#f1845d;
        }
        {% elif session['role'] ==  'B' %}
		.navbar-custom {
             background-color:#FBC578;
        }
        {% elif session['role'] ==  'S' %}
		.navbar-custom {
             background-color:#f59f69;
        }
		  {% endif %}
    </style>
<ul class="navbar-nav navbar-custom sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link" href="/profile">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Profile</span></a>
    </li>
       {% if session['role'] == 'A' %}
      <li class="nav-item">
      <a class="nav-link" href="/retrieveUsers">
        <i class="fas fa-fw fa-list"></i>
        <span>User List</span></a>
    </li>
    {% endif %}
    <!-- Nav Item - Dashboard -->
    {% if session['role'] == 'A' or session['role'] == 'S' %}
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

        <li class="nav-item">
      <a class="nav-link" href="/product_logs">
        <i class="fas fa-fw fa-table"></i>
        <span>Logs</span></a>
    </li>

    {% endif %}
     <!-- Nav Item - User list only for admin -->

    <!-- Nav Item - Analytics -->


    {% if session['role'] != 'A' %}
    <!-- Nav Item - products -->

    <!-- Nav Item - Logs -->

    <li class="nav-item">
        {% if session['role'] == 'B' %}
              <li class="nav-item">
              <a class="nav-link" href="/Myorder">
        <i class="fas fa-clipboard-list"></i>
            <span>Orders</span></a>
             </li>
              {% elif session['role'] == 'S' %}
                    <li class="nav-item">
           <a class="nav-link" href="/manage_products">
             <i class="fas fa-fw fa-shopping-bag"></i>
             <span>Products</span></a>
     </li>
<li class="nav-item">
              <a class="nav-link" href="/SellerOrder">
        <i class="fas fa-clipboard-list"></i>
            <span>Orders</span></a>
             </li>
{% endif %}
    <!--Nav Item - Delivery List -->
    <li class="nav-item">
      <a class="nav-link" href="/SellerDelivery">
        <i class="fas fa-fw fa-truck-moving"></i>
        <span>Delivery List</span></a>
    </li>
    {% endif %}
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  <!-- End of Sidebar -->
