<!-- Default navbar -->
<header>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: white;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ml-sm-5">
        <li class="nav-item">
          <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CATEGORIES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Men</a>
            <a class="dropdown-item" href="#">Women</a>
            <a class="dropdown-item" href="#">Kids</a>
            <a class="dropdown-item" href="/retrieveUsers">Retrieve Users</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/FAQ">FAQ</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mr-sm-2">


        {% if session['logged_in'] == True %}
          <li class="dropdown">
              <div class="dropdown d-inline-block ">
          <a href="#" class="navbar-brand dropdown icontext mr-4 dropdown-toggle" data-toggle="dropdown"> <img class="icon icon-xs rounded-circle" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png"><div class="text">{{ session['name'] }}</div></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">My Orders</a>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="/dashboard">Dashboard</a>
              <a class="dropdown-item" href="/AdminvsBSCheck">Carrier</a>
            <a class="dropdown-item" href="/logout">Log Out</a>
                  </div>
              </div>
                    </li>

         {% else %}
              <li class="nav-item">
            <a class="nav-link" href="/login">LOGIN</a>
            <li class="nav-item">
            <a class="nav-link" href="/signup">SIGN UP</a>
              </li>
      </ul>
        {% endif %}
      <form class="form-inline" >
        <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
        <button class="btn" type="submit"><i class="material-icons">search</i></button>
          <button class="btn"> <a href="/add_to_cart"><i class="material-icons">shopping_cart</i></a></button>
      </form>

    </div>
  </nav>

</header>
