 <!-- Topbar -->
 <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <!-- Topbar Search -->
    <!-- Topbar Navbar -->
    <a href="/" class="btn btn-primary"> Back To Home</a>
    <ul class="navbar-nav ml-auto">
      <!-- Nav Item - User Information -->
      {% if session['logged_in'] == True %}
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{session['name']}}</span>
            <img class="img-profile rounded-circle" src="../static/profile_pics/{{session['profile_picture']}}">
            
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/profile">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Profile
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>        
      {% endif %}
    </ul>
  </nav>
  <!-- End of Topbar -->
